In [1]:
from databaker.framework import *

In [2]:
# put your input-output files here
inputfile = "example1.xls"
outputfile = "example1.csv"
previewfile = "preview.html"

tabs = loadxlstabs(inputfile)

Loading example1.xls which has size 7168 bytes
Table names: ['beatles', 'stones']

In [3]:
# recipe area
conversionsegments = [ ]
tab = tabs[0]

obs = tab.excel_ref('B4').expand(DOWN).expand(RIGHT).is_not_blank().is_not_whitespace()
dimensions = [ 
    HDim(tab.excel_ref('B1'), TIME, CLOSEST, ABOVE), 
    HDim(tab.excel_ref('B3').expand(RIGHT), "Vehicles", DIRECTLY, ABOVE, cellvalueoverride={"Cars":"Car"}), 
    HDim(tab.excel_ref('A3').fill(DOWN), "Name", DIRECTLY, LEFT), 
    HDimConst("All", "thing")
]

conversionsegment = ConversionSegment(tab, dimensions, obs)
conversionsegments.append(conversionsegment)

In [4]:
conversionsegment = conversionsegments[0]

hdim = conversionsegment.dimensions[1]
hdim.hbagset
conversionsegment.segment

{<D6 3.0>, <C5 3.0>, <C7 5.0>, <B6 4.0>, <D5 2.0>, <B4 2.0>, <C4 2.0>, <D7 5.0>, <B7 2.0>, <C6 1.0>, <D4 1.0>, <B5 3.0>}

In [5]:
for ob in list(conversionsegment.segment):
    print(conversionsegment.lookupobs(ob))

{'All': 'thing', 'Vehicles': 'Car', 'Name': 'John', -2: 2014.0, -9: 2.0}
{'All': 'thing', 'Vehicles': 'Planes', 'Name': 'John', -2: 2014.0, -9: 2.0}
{'All': 'thing', 'Vehicles': 'Trains', 'Name': 'John', -2: 2014.0, -9: 1.0}
{'All': 'thing', 'Vehicles': 'Car', 'Name': 'Paul', -2: 2014.0, -9: 3.0}
{'All': 'thing', 'Vehicles': 'Planes', 'Name': 'Paul', -2: 2014.0, -9: 3.0}
{'All': 'thing', 'Vehicles': 'Trains', 'Name': 'Paul', -2: 2014.0, -9: 2.0}
{'All': 'thing', 'Vehicles': 'Car', 'Name': 'Ringo', -2: 2014.0, -9: 4.0}
{'All': 'thing', 'Vehicles': 'Planes', 'Name': 'Ringo', -2: 2014.0, -9: 1.0}
{'All': 'thing', 'Vehicles': 'Trains', 'Name': 'Ringo', -2: 2014.0, -9: 3.0}
{'All': 'thing', 'Vehicles': 'Car', 'Name': 'George', -2: 2014.0, -9: 2.0}
{'All': 'thing', 'Vehicles': 'Planes', 'Name': 'George', -2: 2014.0, -9: 5.0}
{'All': 'thing', 'Vehicles': 'Trains', 'Name': 'George', -2: 2014.0, -9: 5.0}

In [6]:
# this is the preview system
conversionsegment = conversionsegments[0]
savepreviewhtml(conversionsegment, previewfile)
savepreviewhtml(conversionsegment)

tablepart 'beatles' written #injblock1001
javascript calculated

In [7]:
writetechnicalCSV(outputfile, conversionsegments)

writing 1 conversion segments into /home/goatchurch/sensiblecode/quickcode-ons-recipes/helpnotes/example1.csv
conversionwrite segment size 12 table 'beatles; TIMEUNIT='Year'

In [8]:
topandas(conversionsegment)

      All    Name Vehicles      -2   -9
0   thing    John      Car  2014.0  2.0
1   thing    John   Planes  2014.0  2.0
2   thing    John   Trains  2014.0  1.0
3   thing    Paul      Car  2014.0  3.0
4   thing    Paul   Planes  2014.0  3.0
5   thing    Paul   Trains  2014.0  2.0
6   thing   Ringo      Car  2014.0  4.0
7   thing   Ringo   Planes  2014.0  1.0
8   thing   Ringo   Trains  2014.0  3.0
9   thing  George      Car  2014.0  2.0
10  thing  George   Planes  2014.0  5.0
11  thing  George   Trains  2014.0  5.0

In [9]:
writetechnicalCSV(None, conversionsegments)

observation,data_marking,statistical_unit_eng,statistical_unit_cym,measure_type_eng,measure_type_cym,observation_type,empty,obs_type_value,unit_multiplier,unit_of_measure_eng,unit_of_measure_cym,confidentuality,empty1,geographic_area,empty2,empty3,time_dim_item_id,time_dim_item_label_eng,time_dim_item_label_cym,time_type,empty4,statistical_population_id,statistical_population_label_eng,statistical_population_label_cym,cdid,cdiddescrip,empty5,empty6,empty7,empty8,empty9,empty10,empty11,empty12,dim_id_1,dimension_label_eng_1,dimension_label_cym_1,dim_item_id_1,dimension_item_label_eng_1,dimension_item_label_cym_1,is_total_1,is_sub_total_1,dim_id_2,dimension_label_eng_2,dimension_label_cym_2,dim_item_id_2,dimension_item_label_eng_2,dimension_item_label_cym_2,is_total_2,is_sub_total_2,dim_id_3,dimension_label_eng_3,dimension_label_cym_3,dim_item_id_3,dimension_item_label_eng_3,dimension_item_label_cym_3,is_total_3,is_sub_total_3
2.0,,,,,,,,,,,,,,,,,2014,2014,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Car,Car,,,,Name,Name,,John,John,,,,All,All,,thing,thing,,,
2.0,,,,,,,,,,,,,,,,,2014,2014,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Planes,Planes,,,,Name,Name,,John,John,,,,All,All,,thing,thing,,,
1.0,,,,,,,,,,,,,,,,,2014,2014,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Trains,Trains,,,,Name,Name,,John,John,,,,All,All,,thing,thing,,,
3.0,,,,,,,,,,,,,,,,,2014,2014,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Car,Car,,,,Name,Name,,Paul,Paul,,,,All,All,,thing,thing,,,
3.0,,,,,,,,,,,,,,,,,2014,2014,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Planes,Planes,,,,Name,Name,,Paul,Paul,,,,All,All,,thing,thing,,,
2.0,,,,,,,,,,,,,,,,,2014,2014,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Trains,Trains,,,,Name,Name,,Paul,Paul,,,,All,All,,thing,thing,,,
4.0,,,,,,,,,,,,,,,,,2014,2014,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Car,Car,,,,Name,Name,,Ringo,Ringo,,,,All,All,,thing,thing,,,
1.0,,,,,,,,,,,,,,,,,2014,2014,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Planes,Planes,,,,Name,Name,,Ringo,Ringo,,,,All,All,,thing,thing,,,
3.0,,,,,,,,,,,,,,,,,2014,2014,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Trains,Trains,,,,Name,Name,,Ringo,Ringo,,,,All,All,,thing,thing,,,
2.0,,,,,,,,,,,,,,,,,2014,2014,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Car,Car,,,,Name,Name,,George,George,,,,All,All,,thing,thing,,,
5.0,,,,,,,,,,,,,,,,,2014,2014,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Planes,Planes,,,,Name,Name,,George,George,,,,All,All,,thing,thing,,,
5.0,,,,,,,,,,,,,,,,,2014,2014,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Trains,Trains,,,,Name,Name,,George,George,,,,All,All,,thing,thing,,,
*********,12