In [10]:
# start up again with our simple example
from databaker.framework import *
tabs = loadxlstabs("example1.xls")
tab = tabs[0]  # there is only one table
savepreviewhtml(tabs[0])

Loading example1.xls which has size 7168 bytes
Table names: ['beatles', 'stones']

In [11]:
# We can select bags of of cells from this tab and plot them using savepreviewhtml(), like so:
savepreviewhtml(tab.excel_ref('B1'))

In [12]:
# It's important to select the observations as one of the sets
obs = tab.excel_ref('B4').expand(DOWN).expand(RIGHT).is_not_blank().is_not_whitespace()
savepreviewhtml(obs)

In [13]:
# You can also print the bag of unordered cells in one of these sets
# There are 12 here
obs

{<C4 2.0>, <B7 2.0>, <B5 3.0>, <D6 3.0>, <C7 5.0>, <C6 1.0>, <B4 2.0>, <D7 5.0>, <D4 1.0>, <C5 3.0>, <B6 4.0>, <D5 2.0>}

In [14]:
# preview also works on a list of bags
r1 = tab.excel_ref('B3').expand(RIGHT)
r2 = tab.excel_ref('A3').fill(DOWN)
savepreviewhtml([r1, r2])
print("r1 is", r1)
print("r2 is", r2)

r1 is {<B3 'Cars'>, <D3 'Trains'>, <C3 'Planes'>}
r2 is {<A6 'Ringo'>, <A7 'George'>, <A5 'Paul'>, <A4 'John'>}

In [15]:
# A dimension is an HDim object that shows how an observation is connected 
# to a heading set, like this:
h1 = HDim(r1, "Vehicles", DIRECTLY, ABOVE)

# You can look each one up, like this:
for ob in obs:
    print("Obs", ob, "maps to", h1.cellvalobs(ob))

Obs {<B4 2.0>} maps to (<B3 'Cars'>, 'Cars')
Obs {<C4 2.0>} maps to (<C3 'Planes'>, 'Planes')
Obs {<D4 1.0>} maps to (<D3 'Trains'>, 'Trains')
Obs {<B5 3.0>} maps to (<B3 'Cars'>, 'Cars')
Obs {<C5 3.0>} maps to (<C3 'Planes'>, 'Planes')
Obs {<D5 2.0>} maps to (<D3 'Trains'>, 'Trains')
Obs {<B6 4.0>} maps to (<B3 'Cars'>, 'Cars')
Obs {<C6 1.0>} maps to (<C3 'Planes'>, 'Planes')
Obs {<D6 3.0>} maps to (<D3 'Trains'>, 'Trains')
Obs {<B7 2.0>} maps to (<B3 'Cars'>, 'Cars')
Obs {<C7 5.0>} maps to (<C3 'Planes'>, 'Planes')
Obs {<D7 5.0>} maps to (<D3 'Trains'>, 'Trains')

In [16]:
# Notice how h1.cellvalobs() gives both the header cell and its value
# This is because we can override the value with cellvalueoverride lookup dict

# For example, we can map its string value to something else, like so
h1.cellvalueoverride["Cars"] = "Horses"
for ob in obs:
    print("Obs", ob, "maps to", h1.cellvalobs(ob))

Obs {<B4 2.0>} maps to (<B3 'Cars'>, 'Horses')
Obs {<C4 2.0>} maps to (<C3 'Planes'>, 'Planes')
Obs {<D4 1.0>} maps to (<D3 'Trains'>, 'Trains')
Obs {<B5 3.0>} maps to (<B3 'Cars'>, 'Horses')
Obs {<C5 3.0>} maps to (<C3 'Planes'>, 'Planes')
Obs {<D5 2.0>} maps to (<D3 'Trains'>, 'Trains')
Obs {<B6 4.0>} maps to (<B3 'Cars'>, 'Horses')
Obs {<C6 1.0>} maps to (<C3 'Planes'>, 'Planes')
Obs {<D6 3.0>} maps to (<D3 'Trains'>, 'Trains')
Obs {<B7 2.0>} maps to (<B3 'Cars'>, 'Horses')
Obs {<C7 5.0>} maps to (<C3 'Planes'>, 'Planes')
Obs {<D7 5.0>} maps to (<D3 'Trains'>, 'Trains')

In [17]:
# Alternatively, you can override the reference to a single cell to a value 
# rather than applying the mapping to its value, like so:
c3cell = tab.excel_ref('C3')._cell
h1.cellvalueoverride[c3cell] = "Submarines"
for ob in obs:
    print("Obs", ob, "maps to", h1.cellvalobs(ob))

Obs {<B4 2.0>} maps to (<B3 'Cars'>, 'Horses')
Obs {<C4 2.0>} maps to (<C3 'Planes'>, 'Submarines')
Obs {<D4 1.0>} maps to (<D3 'Trains'>, 'Trains')
Obs {<B5 3.0>} maps to (<B3 'Cars'>, 'Horses')
Obs {<C5 3.0>} maps to (<C3 'Planes'>, 'Submarines')
Obs {<D5 2.0>} maps to (<D3 'Trains'>, 'Trains')
Obs {<B6 4.0>} maps to (<B3 'Cars'>, 'Horses')
Obs {<C6 1.0>} maps to (<C3 'Planes'>, 'Submarines')
Obs {<D6 3.0>} maps to (<D3 'Trains'>, 'Trains')
Obs {<B7 2.0>} maps to (<B3 'Cars'>, 'Horses')
Obs {<C7 5.0>} maps to (<C3 'Planes'>, 'Submarines')
Obs {<D7 5.0>} maps to (<D3 'Trains'>, 'Trains')

In [18]:
# Finally, you can override the header value for a single element
# to the value you want.  This takes top priority
b4cell = tab.excel_ref('B4')._cell
h1.cellvalueoverride[b4cell] = "Clouds"
for ob in obs:
    print("Obs", ob, "maps to", h1.cellvalobs(ob))

Obs {<B4 2.0>} maps to (None, 'Clouds')
Obs {<C4 2.0>} maps to (<C3 'Planes'>, 'Submarines')
Obs {<D4 1.0>} maps to (<D3 'Trains'>, 'Trains')
Obs {<B5 3.0>} maps to (<B3 'Cars'>, 'Horses')
Obs {<C5 3.0>} maps to (<C3 'Planes'>, 'Submarines')
Obs {<D5 2.0>} maps to (<D3 'Trains'>, 'Trains')
Obs {<B6 4.0>} maps to (<B3 'Cars'>, 'Horses')
Obs {<C6 1.0>} maps to (<C3 'Planes'>, 'Submarines')
Obs {<D6 3.0>} maps to (<D3 'Trains'>, 'Trains')
Obs {<B7 2.0>} maps to (<B3 'Cars'>, 'Horses')
Obs {<C7 5.0>} maps to (<C3 'Planes'>, 'Submarines')
Obs {<D7 5.0>} maps to (<D3 'Trains'>, 'Trains')

In [19]:
# Notice that in that last case referencing the obs cell
# that no heading cell was found.  

# We can use this feature to manage default no-lookup values, 
# for example, take this cell here that doesn't have a valid lookup 
# under the DIRECTLY, ABOVE to the r1-set rule
ob = tab.excel_ref('B1')
print("Obs", ob, "maps to", h1.cellvalobs(ob))

Obs {<B1 2014.0>} maps to (None, None)

In [20]:
# But we can set the override to map None to a default value
h1.cellvalueoverride[None] = "Who knows?"
print("Obs", ob, "maps to", h1.cellvalobs(ob))

Obs {<B1 2014.0>} maps to (None, 'Who knows?')

In [21]:
# This leads us onto a new feature, of a constant value dimension over the 
# whole obs set by referring to a None header set
h3 = HDim(None, "Category", cellvalueoverride={None:"Beatles"})
print("Obs", ob, "maps to", h3.cellvalobs(ob))

Obs {<B1 2014.0>} maps to (None, 'Beatles')

In [22]:
# Notice that you can set the cellvalueoverride dict in the constructor if you don't 
# mind having very long statements.  

# But in this special case of a constant dimension we have a helper function which 
# does exactly the same thing
h3 = HDim(None, "Category", cellvalueoverride={None:"Beatles"})
h3 = HDimConst("Category", "Beatles")
for ob in obs:
    print("Obs", ob, "maps to", h3.cellvalobs(ob))

Obs {<B4 2.0>} maps to (None, 'Beatles')
Obs {<C4 2.0>} maps to (None, 'Beatles')
Obs {<D4 1.0>} maps to (None, 'Beatles')
Obs {<B5 3.0>} maps to (None, 'Beatles')
Obs {<C5 3.0>} maps to (None, 'Beatles')
Obs {<D5 2.0>} maps to (None, 'Beatles')
Obs {<B6 4.0>} maps to (None, 'Beatles')
Obs {<C6 1.0>} maps to (None, 'Beatles')
Obs {<D6 3.0>} maps to (None, 'Beatles')
Obs {<B7 2.0>} maps to (None, 'Beatles')
Obs {<C7 5.0>} maps to (None, 'Beatles')
Obs {<D7 5.0>} maps to (None, 'Beatles')

In [23]:
# Let's put these all together into one list of dimensions and roll them into 
# nice big ConversionSegment, which we can preview
dimensions = [ 
    HDim(tab.excel_ref('B1'), TIME, CLOSEST, ABOVE), 
    HDim(r1, "Vehicles", DIRECTLY, ABOVE), 
    HDim(r2, "Name", DIRECTLY, LEFT), 
    HDimConst("Category", "Beatles")
]
c1 = ConversionSegment(tab, dimensions, obs)
savepreviewhtml(c1)

In [24]:
# Try clicking on the OBS cells above to see how the cells connect to the headings

# Sometimes it's useful to see the raw values as they are looked up
for ob in c1.segment:
    print(c1.lookupobs(ob))

{'Name': 'John', 'Vehicles': 'Cars', 'Category': 'Beatles', -2: 2014.0, -9: 2.0}
{'Name': 'John', 'Vehicles': 'Planes', 'Category': 'Beatles', -2: 2014.0, -9: 2.0}
{'Name': 'John', 'Vehicles': 'Trains', 'Category': 'Beatles', -2: 2014.0, -9: 1.0}
{'Name': 'Paul', 'Vehicles': 'Cars', 'Category': 'Beatles', -2: 2014.0, -9: 3.0}
{'Name': 'Paul', 'Vehicles': 'Planes', 'Category': 'Beatles', -2: 2014.0, -9: 3.0}
{'Name': 'Paul', 'Vehicles': 'Trains', 'Category': 'Beatles', -2: 2014.0, -9: 2.0}
{'Name': 'Ringo', 'Vehicles': 'Cars', 'Category': 'Beatles', -2: 2014.0, -9: 4.0}
{'Name': 'Ringo', 'Vehicles': 'Planes', 'Category': 'Beatles', -2: 2014.0, -9: 1.0}
{'Name': 'Ringo', 'Vehicles': 'Trains', 'Category': 'Beatles', -2: 2014.0, -9: 3.0}
{'Name': 'George', 'Vehicles': 'Cars', 'Category': 'Beatles', -2: 2014.0, -9: 2.0}
{'Name': 'George', 'Vehicles': 'Planes', 'Category': 'Beatles', -2: 2014.0, -9: 5.0}
{'Name': 'George', 'Vehicles': 'Trains', 'Category': 'Beatles', -2: 2014.0, -9: 5.0}

In [16]:
# The negative key values are from the ONS base template set.  The lookup values can be listed here:
for i in range(1, len(template.dimension_names)+1):
    print(-i, template.dimension_names[len(databaker.constants.template.dimension_names)-1+(-i)])

-1 TIMEUNIT
-2 TIME
-3 GEOG
-4 UNITOFMEASURE
-5 UNITMULTIPLIER
-6 MEASURETYPE
-7 STATUNIT
-8 DATAMARKER
-9 OBS
-10 STATPOP

In [17]:
# If you want to use pandas on this ConversionSegment, we have a handy function that does it
# (Pandas is very hard to learn, but very powerful indeed.  If you are going to be doing things 
# with data as part of your work for more than a year, it will pay back oodles if you 
# invest the time to master it.)
df = topandas(c1)
df

   Vehicles    Name Category   -9    -1      -2
0      Cars    John  Beatles  2.0  Year  2014.0
1    Planes    John  Beatles  2.0  Year  2014.0
2    Trains    John  Beatles  1.0  Year  2014.0
3      Cars    Paul  Beatles  3.0  Year  2014.0
4    Planes    Paul  Beatles  3.0  Year  2014.0
5    Trains    Paul  Beatles  2.0  Year  2014.0
6      Cars   Ringo  Beatles  4.0  Year  2014.0
7    Planes   Ringo  Beatles  1.0  Year  2014.0
8    Trains   Ringo  Beatles  3.0  Year  2014.0
9      Cars  George  Beatles  2.0  Year  2014.0
10   Planes  George  Beatles  5.0  Year  2014.0
11   Trains  George  Beatles  5.0  Year  2014.0

In [18]:
# Once we are done with the lookups, we can generate the technicalCSV for the WDA system
writetechnicalCSV(None, c1)

observation,data_marking,statistical_unit_eng,statistical_unit_cym,measure_type_eng,measure_type_cym,observation_type,empty,obs_type_value,unit_multiplier,unit_of_measure_eng,unit_of_measure_cym,confidentuality,empty1,geographic_area,empty2,empty3,time_dim_item_id,time_dim_item_label_eng,time_dim_item_label_cym,time_type,empty4,statistical_population_id,statistical_population_label_eng,statistical_population_label_cym,cdid,cdiddescrip,empty5,empty6,empty7,empty8,empty9,empty10,empty11,empty12,dim_id_1,dimension_label_eng_1,dimension_label_cym_1,dim_item_id_1,dimension_item_label_eng_1,dimension_item_label_cym_1,is_total_1,is_sub_total_1,dim_id_2,dimension_label_eng_2,dimension_label_cym_2,dim_item_id_2,dimension_item_label_eng_2,dimension_item_label_cym_2,is_total_2,is_sub_total_2,dim_id_3,dimension_label_eng_3,dimension_label_cym_3,dim_item_id_3,dimension_item_label_eng_3,dimension_item_label_cym_3,is_total_3,is_sub_total_3
2.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Cars,Cars,,,,Name,Name,,John,John,,,,Category,Category,,Beatles,Beatles,,,
2.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Planes,Planes,,,,Name,Name,,John,John,,,,Category,Category,,Beatles,Beatles,,,
1.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Trains,Trains,,,,Name,Name,,John,John,,,,Category,Category,,Beatles,Beatles,,,
3.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Cars,Cars,,,,Name,Name,,Paul,Paul,,,,Category,Category,,Beatles,Beatles,,,
3.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Planes,Planes,,,,Name,Name,,Paul,Paul,,,,Category,Category,,Beatles,Beatles,,,
2.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Trains,Trains,,,,Name,Name,,Paul,Paul,,,,Category,Category,,Beatles,Beatles,,,
4.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Cars,Cars,,,,Name,Name,,Ringo,Ringo,,,,Category,Category,,Beatles,Beatles,,,
1.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Planes,Planes,,,,Name,Name,,Ringo,Ringo,,,,Category,Category,,Beatles,Beatles,,,
3.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Trains,Trains,,,,Name,Name,,Ringo,Ringo,,,,Category,Category,,Beatles,Beatles,,,
2.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Cars,Cars,,,,Name,Name,,George,George,,,,Category,Category,,Beatles,Beatles,,,
5.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Planes,Planes,,,,Name,Name,,George,George,,,,Category,Category,,Beatles,Beatles,,,
5.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Trains,Trains,,,,Name,Name,,George,George,,,,Category,Category,,Beatles,Beatles,,,
*********,12

In [19]:
# Normally we write this output to a file.  
# This is particularly true if you have a list of conversion segements in place of c1, 
# instead of just one
writetechnicalCSV("example.csv", c1)

writing 1 conversion segments into /home/goatchurch/sensiblecode/quickcode-ons-recipes/helpnotes/example.csv
conversionwrite segment size 12 table beatles

In [20]:
# You can save preview tables to a file as well, but it can only be of a single segment
# The #injblockXXXX thing is shown at the top of the file to help you make sure you are seeing
# the right preview, and not some earlier version.  
# (We'd like to make the link work, but it's difficult.  Also it would be nice if the page 
# you had automatically reloaded itself if it was already open, in order to cut down on the RSI)
savepreviewhtml(c1, "preview.html")

tablepart 'beatles' written #injblock1006
javascript calculated

In [22]:
# In summary, we have the capability of codelookups and nolookups with the cellvalueoverride dict
# We can look at individual observations and filter them.  
# You can also use a list instead of a bag when you make a conversion set, 
# and then sort that list

obslist = list(obs.unordered_cells)  # list(segment) otherwise gives bags of one element
obslist.sort(key=lambda cell: (cell.value))
c2 = ConversionSegment(tab, dimensions, obslist)
topandas(c2)

   Vehicles    Name Category   -9    -1      -2
0    Planes   Ringo  Beatles  1.0  Year  2014.0
1    Trains    John  Beatles  1.0  Year  2014.0
2      Cars    John  Beatles  2.0  Year  2014.0
3    Trains    Paul  Beatles  2.0  Year  2014.0
4    Planes    John  Beatles  2.0  Year  2014.0
5      Cars  George  Beatles  2.0  Year  2014.0
6    Trains   Ringo  Beatles  3.0  Year  2014.0
7    Planes    Paul  Beatles  3.0  Year  2014.0
8      Cars    Paul  Beatles  3.0  Year  2014.0
9      Cars   Ringo  Beatles  4.0  Year  2014.0
10   Planes  George  Beatles  5.0  Year  2014.0
11   Trains  George  Beatles  5.0  Year  2014.0

In [ ]:
# It's also obvious to see how to make load in multiple spreadsheets
# as well as output multiple files, by making multiple calls to
#    loadxlstabs(inputfilename)
#    writetechnicalCSV(outputfilename, [selected list of segments])
# with all the HDim, HDimConst and ConversionSegment creation stuff 
# in between.  

# But it's going to take some working out of conventions and habits 
# in order to avoid getting into a mess.  

# The main part of the design is to make it easy to preview what's going 
# on at every step of the way, which means you'll want to load everything 
# in at the start, and save everything out at the end.

# Unfortunately this is very memory intensive and might not work on the 
# largest sets of files.  However, a working system that is close to 
# that as possible is desirable, to avoid producing "efficient pipelines" 
# of data processing that are going to be a right pain to debug when you 
# come back to it.