In [1]:
# start up again with our simple example
from databaker.framework import *
tabs = loadxlstabs("example1.xls")
tab = tabs[0]  # there is only one table
savepreviewhtml(tabs[0])

Loading example1.xls which has size 6144 bytes
Table names: beatles

In [3]:
# We can select bags of of cells from this tab and plot them using savepreviewhtml(), like so:
savepreviewhtml(tab.excel_ref('B1'))

In [4]:
# It's important to select the observations
obs = tab.excel_ref('B4').expand(DOWN).expand(RIGHT).is_not_blank().is_not_whitespace()
savepreviewhtml(obs)

In [ ]:
# WORK IN PROGRESS

In [3]:
# recipe area
conversionsegments = [ ]
for tab in tabs:
    obs = tab.excel_ref('B4').expand(DOWN).expand(RIGHT).is_not_blank().is_not_whitespace()
    dimensions = [ 
        HDim(tab.excel_ref('B1'), TIME, CLOSEST, ABOVE), 
        HDim(tab.excel_ref('B3').expand(RIGHT), "Vehicles", DIRECTLY, ABOVE, cellvalueoverride={"Cars":"Car"}), 
        HDim(tab.excel_ref('A3').fill(DOWN), "Name", DIRECTLY, LEFT), 
        HDim(None, "All", cellvalueoverride={None:"thing"})
    ]
    
    conversionsegment = ConversionSegment(tab, dimensions, obs)
    conversionsegments.append(conversionsegment)

In [4]:
conversionsegment = conversionsegments[0]

hdim = conversionsegment.dimensions[1]
hdim.hbagset

{<B3 'Cars'>, <C3 'Planes'>, <D3 'Trains'>}

In [5]:
for ob in list(conversionsegment.segment):
    print(conversionsegment.lookupobs(ob))

{'Name': 'John', 'All': 'thing', -9: 2.0, -1: 'Year', -2: 2014.0, 'Vehicles': 'Car'}
{'Name': 'John', 'All': 'thing', -9: 2.0, -1: 'Year', -2: 2014.0, 'Vehicles': 'Planes'}
{'Name': 'John', 'All': 'thing', -9: 1.0, -1: 'Year', -2: 2014.0, 'Vehicles': 'Trains'}
{'Name': 'Paul', 'All': 'thing', -9: 3.0, -1: 'Year', -2: 2014.0, 'Vehicles': 'Car'}
{'Name': 'Paul', 'All': 'thing', -9: 3.0, -1: 'Year', -2: 2014.0, 'Vehicles': 'Planes'}
{'Name': 'Paul', 'All': 'thing', -9: 2.0, -1: 'Year', -2: 2014.0, 'Vehicles': 'Trains'}
{'Name': 'Ringo', 'All': 'thing', -9: 4.0, -1: 'Year', -2: 2014.0, 'Vehicles': 'Car'}
{'Name': 'Ringo', 'All': 'thing', -9: 1.0, -1: 'Year', -2: 2014.0, 'Vehicles': 'Planes'}
{'Name': 'Ringo', 'All': 'thing', -9: 3.0, -1: 'Year', -2: 2014.0, 'Vehicles': 'Trains'}
{'Name': 'George', 'All': 'thing', -9: 2.0, -1: 'Year', -2: 2014.0, 'Vehicles': 'Car'}
{'Name': 'George', 'All': 'thing', -9: 5.0, -1: 'Year', -2: 2014.0, 'Vehicles': 'Planes'}
{'Name': 'George', 'All': 'thing', -9: 5.0, -1: 'Year', -2: 2014.0, 'Vehicles': 'Trains'}

In [6]:
# this is the preview system
conversionsegment = conversionsegments[0]
savepreviewhtml(conversionsegment, previewfile)
savepreviewhtml(conversionsegment)

tablepart 'beatles' written #injblock1001
javascript calculated
Written to file 'preview.html'

In [7]:
writetechnicalCSV(outputfile, conversionsegments)

writing 1 conversion segments into example1.csv
conversionwrite segment size 12

In [7]:
topandas(conversionsegment)

      Name    All   -9    -1      -2 Vehicles
0     John  thing  2.0  Year  2014.0      Car
1     John  thing  2.0  Year  2014.0   Planes
2     John  thing  1.0  Year  2014.0   Trains
3     Paul  thing  3.0  Year  2014.0      Car
4     Paul  thing  3.0  Year  2014.0   Planes
5     Paul  thing  2.0  Year  2014.0   Trains
6    Ringo  thing  4.0  Year  2014.0      Car
7    Ringo  thing  1.0  Year  2014.0   Planes
8    Ringo  thing  3.0  Year  2014.0   Trains
9   George  thing  2.0  Year  2014.0      Car
10  George  thing  5.0  Year  2014.0   Planes
11  George  thing  5.0  Year  2014.0   Trains

In [8]:
writetechnicalCSV(None, conversionsegments)

observation,data_marking,statistical_unit_eng,statistical_unit_cym,measure_type_eng,measure_type_cym,observation_type,empty,obs_type_value,unit_multiplier,unit_of_measure_eng,unit_of_measure_cym,confidentuality,empty1,geographic_area,empty2,empty3,time_dim_item_id,time_dim_item_label_eng,time_dim_item_label_cym,time_type,empty4,statistical_population_id,statistical_population_label_eng,statistical_population_label_cym,cdid,cdiddescrip,empty5,empty6,empty7,empty8,empty9,empty10,empty11,empty12,dim_id_1,dimension_label_eng_1,dimension_label_cym_1,dim_item_id_1,dimension_item_label_eng_1,dimension_item_label_cym_1,is_total_1,is_sub_total_1,dim_id_2,dimension_label_eng_2,dimension_label_cym_2,dim_item_id_2,dimension_item_label_eng_2,dimension_item_label_cym_2,is_total_2,is_sub_total_2,dim_id_3,dimension_label_eng_3,dimension_label_cym_3,dim_item_id_3,dimension_item_label_eng_3,dimension_item_label_cym_3,is_total_3,is_sub_total_3
2.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Car,Car,,,,Name,Name,,John,John,,,,All,All,,thing,thing,,,
2.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Planes,Planes,,,,Name,Name,,John,John,,,,All,All,,thing,thing,,,
1.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Trains,Trains,,,,Name,Name,,John,John,,,,All,All,,thing,thing,,,
3.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Car,Car,,,,Name,Name,,Paul,Paul,,,,All,All,,thing,thing,,,
3.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Planes,Planes,,,,Name,Name,,Paul,Paul,,,,All,All,,thing,thing,,,
2.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Trains,Trains,,,,Name,Name,,Paul,Paul,,,,All,All,,thing,thing,,,
4.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Car,Car,,,,Name,Name,,Ringo,Ringo,,,,All,All,,thing,thing,,,
1.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Planes,Planes,,,,Name,Name,,Ringo,Ringo,,,,All,All,,thing,thing,,,
3.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Trains,Trains,,,,Name,Name,,Ringo,Ringo,,,,All,All,,thing,thing,,,
2.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Car,Car,,,,Name,Name,,George,George,,,,All,All,,thing,thing,,,
5.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Planes,Planes,,,,Name,Name,,George,George,,,,All,All,,thing,thing,,,
5.0,,,,,,,,,,,,,,,,,2014.0,2014.0,,Year,,,,,,,,,,,,,,,Vehicles,Vehicles,,Trains,Trains,,,,Name,Name,,George,George,,,,All,All,,thing,thing,,,
*********,12