In [1]:
# This is a Python notebook where you can interact with the code
# quickly, learn what each function does and what is in the data

# Each of these cells is a snippet of Python.  You can run a cell 
# using the menu above, or try Shift-Return

print("The sum of 2+3 is", (2+3))

# The output of any print statements will appear below the cell.  
# You can change the code in the cell and run it as many times 
# as you like.

The sum of 2+3 is 5

In [2]:
# That's enough fun.  Now it's time to work on some spreadsheets.
# This will requires us to load the basic functions.  This is done 
# with the following line:
from databaker.framework import *

In [3]:
# Let's load a very small example spreadsheet, like so:
tabs = loadxlstabs("example1.xls")

# You can load this into excel as well so you can see what is going on.

Loading example1.xls which has size 6144 bytes
Table names: beatles

In [4]:
# There is only one tab in this spreadsheet, so we copy it into the variable 'tab'
tab = tabs[0]
tab   # any time you put a variable on its own at the end of a cell, it gets printed automatically

{<B3 'Cars'>, <C2 ''>, <D4 1.0>, <C3 'Planes'>, <A3 ''>, <A1 'Date'>, <A2 ''>, <B4 2.0>, <C6 1.0>, <D1 ''>, <D5 2.0>, <C4 2.0>, <B2 ''>, <A7 'George'>, <D3 'Trains'>, <D6 3.0>, <C1 ''>, <C7 5.0>, <B6 4.0>, <B5 3.0>, <A6 'Ringo'>, <D7 5.0>, <A4 'John'>, <D2 ''>, <C5 3.0>, <B7 2.0>, <B1 2014.0>, <A5 'Paul'>}

In [5]:
# What you see are all the excel cells jumbled up, with their positions and values in 
# an unordered set.  We can print this as a proper table, like so:

savepreviewhtml(tab)

In [6]:
# Our work begins with learning how to select subsets from this table to make up 
# the observations, using the functions described here:
#      https://sensiblecodeio.github.io/quickcode-ons-docs/lang/function_reference.html

# And then connecting these observations to other subsets (which we have selected the same way) 
# that make up the dimensions.  

# Finally we write out the data created by looking up each observation against each dimension 
# into a file that can be read into the WDA system